@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../../../../fonts/Montserrat-SemiBold.ttf");
}

.background {
    background-color: #ebedf6;
}

.marking {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container_panel {
    display: flex;
    flex-direction: column;
}

.panel {
    width: 100%;
    background-color: #314feb;
    border-radius: 10;
    -webkit-box-shadow: 0 0 11px #9e8d9e;
    -moz-box-shadow: 0 0 11px #9e8d9e;
    box-shadow: 0 0 11px #7c717c;
    margin-top: 15;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    padding-inline: 10;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    user-select: none;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 15;
    padding-inline: 17;
    width: 100%;
}

.title_text {
    font-family: Montserrat-SemiBold,sans-serif;
    font-size: 20;
    color: #fff;
}

.content_img {
    width: 30;
    height: 30;
}


.content_img img {
    width: 30;
    height: 30;
}

.content_text {
    color: #fff;
    margin: 17 auto;
    padding-inline: 17;
    font-size: 15;

}

.main_text {
    font-size: 18px;
    color: #fff;
    z-index: 1000;
    height: 20;
    margin-bottom: 20;

}

@media (max-width: 1220px) {
    .marking {
        max-width: 1000px;
        padding-top: 20px;
    }

}

@media (max-width: 1024px) {
    .container_panel {
        margin: 0px 20px;
    }
}

@media (max-width: 700px) {
    .marking {
        padding-top: 160px;
    }

    .title_text {
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .marking {
        padding-top: 190px;
    }
    .content_text {
        margin-bottom: 20px;
    }
}